*{
    margin: 0;
    padding: 0;
    box-sizing: border box;
}
.headings{
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    text-align: center;
    margin: 40px 0px;
}



/*NAVBAR*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .51);
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 8px 25px;
    /*transition: all .5s ease;*/
}

.navbar ul li a:hover{
    background-color: whitesmoke;
    color: black;
/*play with box shadow here*/
}

/*ABOUT ME SECTION*/


#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic{
    display: flex;
}

#pic img{
    width: 500px;
    height: 300px;
}

#bio{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#bio h2{
    font-size: 32px;
    margin-bottom: 20px;
}






